<div style="width: 100%; display: flex; flex-direction: column; gap: 16px; justify-content: center;  align-items: center; padding-inline: 1%; padding-bottom: 56px;">
    <div style="background-color: rgb(6, 155, 105); margin: 16px; padding: 16px; display: flex; flex-direction: column; width: 100%;">
      <div style="color: white; display: flex;">
        <p>Available balance: </p>
        <p>value</p>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div style="display: flex; gap: 16px;">
          <button class="btn btn-primary">Recharge</button>
          <button class="btn btn-primary">Trend</button>
          <button class="custom-button">How to Trade?</button>
        </div>
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="re"></mat-icon> -->
        <mat-icon style="color: white;">autorenew</mat-icon>
      </div>
    </div>
  
    <div style="display: flex; width: 100%;">
      <div style="flex: 1; display: flex; justify-content: center; align-items: center; border-radius: 8px; height: 32px;" routerLink="sapre" routerLinkActive="active-link">
        Sapre
      </div>
      <div style="flex: 1; display: flex; justify-content: center; align-items: center; border-radius: 8px; height: 32px;" routerLink="bcone" routerLinkActive="active-link">
        Bcone
      </div>
      <div style="flex: 1; display: flex; justify-content: center; align-items: center; border-radius: 8px; height: 32px;" routerLink="emerd" routerLinkActive="active-link">
        Emerd
      </div>
      <div style="flex: 1; display: flex; justify-content: center; align-items: center; border-radius: 8px; height: 32px;" routerLink="parity" routerLinkActive="active-link">
        Parity
      </div>
    </div>
  
    <div style="width: 90%; margin-top: 28px;">
      <router-outlet></router-outlet>
      <!-- <app-parity></app-parity> -->
    </div>
    
  </div>