<div class="container">
    <div class="header">
        <div style="display: flex; flex-direction: column; gap: 8px;">
            <div style="display: flex; align-items: center; gap: 16px;">
                <mat-icon style="font-size: xx-large; height: auto; width: auto;">account_circle</mat-icon>
                <div class="user-info">
                    <span class="user-id">User ID: 305382</span>
                    <span class="mobile">Mobile: 191 8824655613</span>
                </div>
            </div>
            <div class="balance">
                <div style="display: flex; flex-direction: column; gap: 4px;">
                    <span style="font-weight: bold;">Available Balance</span>
                    <span class="available-balance">₹0.00</span>
                    <button class="btn btn-primary" style="padding: 0px; padding-inline: 8px;">Recharge</button>
                </div>
                <div style="display: flex; flex-direction: column; gap: 4px;">
                    <span style="font-weight: bold;">Withdrawal</span>
                    <span class="interest">₹0.00</span>
                    <button class="btn btn-primary" style="padding: 0px; padding-inline: 8px;">Withdraw</button>
                </div>
                <div style="display: flex; flex-direction: column; gap: 4px;">
                    <span style="font-weight: bold;">Interest</span>
                    <span class="interest">₹0.00</span>
                    <button class="btn btn-primary" style="padding: 0px; padding-inline: 8px;">Details</button>
                </div>
            </div>
        </div>
    </div>


    <!-- expandable-list.component.html -->
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Promotions
                </mat-panel-title>
                <mat-panel-description>
                    Your referrals
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>list of your referrals</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Recharge records
                </mat-panel-title>
                <mat-panel-description>
                    see recharge history
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>abc</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Withdrawal records
                </mat-panel-title>
                <mat-panel-description>
                    see Withdrawal history
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>def</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Complaint & Suggestions
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>def</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    About
                </mat-panel-title>
                <mat-panel-description>
                    Working
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>def</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Account Security
                </mat-panel-title>
                <mat-panel-description>
                    Encription
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>def</p>
        </mat-expansion-panel>
    </mat-accordion>

    <button class="btn btn-secondary" style="width: fit-content;" routerLink="/login">Logout</button>
</div>