.green {
    background-color: green;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.btn {
    width: 95%;
}

.diagonal-green-button {
    position: relative;
    background: linear-gradient(to bottom right, violet 50%, green 50%);
    border: none;
    color: white; /* Set the text color */
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    /* transition: background 0.3s ease; */
  }

  .diagonal-red-button {
    position: relative;
    background: linear-gradient(to bottom right, violet 50%, red 50%);
    border: none;
    color: white; /* Set the text color */
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    /* transition: background 0.3s ease; */
  }

button:disabled {
    background-color: grey;
    color: black;
}