<div style="display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column;">
        <div style="width: 100%; height: 40px; background-color: aqua; border-radius: 12px 12px 0 0; display: flex; align-items: center; padding: 5%; font-weight: bold; font-size: larger;">
            JOIN {{ value }}
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 8px;">
            <div style="padding: 32px;">
                <p>Contact Money</p>    
                <div class="select-options-row">
                    <div *ngFor="let option of options" class="select-option" [class.selected]="selectedOption === option" (click)="selectOption(option)">
                    {{ option }}
                    </div>
                </div>
            </div>
            <div>
                <div style="display: flex; justify-content: space-around; align-items: center; font-size: xx-large;">
                    <button class="custom-button" (click)="decreaseCount()">-</button>
                    {{ contract_count }}
                    <button class="custom-button" (click)="increaseCount()">+</button>
                </div>
            </div>
            <div style="height: 8px;"></div>
            <div *ngIf="selectedOption !== null" class="selected-option-info">
                Contract Count: {{ contract_count }} <br>
                Total Amount: {{ totalAmount }}
            </div>
            <hr style="margin: 0;">
            <div style="display: flex; justify-content: end; gap: 8px; padding: 12px;">
                <button class="btn btn-secondary" matDialogClose>Cancel</button>
                <button class="btn btn-primary" matDialogClose (click)="confirmRequest('sarvesh', contract_count, selectedOption, data.num)">Confirm</button>
            </div>
        </div>
    </div>
</div>


<!-- <div style="height: 100%; width: 100%; background-color: aquamarine;">
    Hello World
</div> -->