.bottom-navbar {
    z-index: 999;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 52px;
    background-color: white;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Adjust the shadow color and size as needed */
  }
  

.tab {
    text-decoration: none;
    /* color: white; */
  }
  
.active-link {
    font-weight: bold;
  }